.main-box  {
  text-align: center !important;
  padding: 0px 600px;
}



.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: #f7f7f7;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: left !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .submit-btn {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #155a9d;
  }

  .logout-btn {
    background: transparent;
    border: 1px solid #888;
    padding: 10px 12px;
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: bottom;
    font-size: 14px;
  }

  .preview-box {
    margin-top: 10px;
    padding: 8px;
    background: #eaeaea;
    border-radius: 8px;
  }

  #preview img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 6px;
    margin-top: 10px;
  }

  label {
    display: inline-block;
    padding-bottom: 10px;
  }


 textarea {
  height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.139);
  padding: 10px;
  font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
resize: none;
  color:#515151b5;
}

.form-group small {
    text-align: end;
    display: block;
    margin-top: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
}

.place-offline, .place-online {
  display: inline-block !important;
  width: 50px;
}

label.place-offline, label.place-online {
  width:50px !important
}


input.place-offline, input.place-online {
    display: inline-block !important;
  width: 50px;
  min-width: 50px;
}

input[type="checkbox"] {
  width: 20px;
  min-width: 20px;
}