<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
<header>
  <a href="{{ url_for('main.index') }}" class="logo">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
  </a>

  <span>Ориентир педагога в мире российских цифровых ресурсов</span>
  <!-- <a href="{{ url_for('main.index') }}">Главная</a> -->
  <a href="{{ url_for('idea.open') }}" class="{% block activePart1 %}{% endblock %}">Банк образовательных практик</a>
  <a href="{{ url_for('tool.open') }}" class="{% block activePart2 %}{% endblock %}">Инструкции к ресурсам</a>
  <a href="{{ url_for('resource.open') }}" class="{% block activePart3 %}{% endblock %}">Пробные уроки</a>

  <div class="right-buttons">
    <a class="help" href="{{ url_for('main.open_help') }}"><img src="{{ url_for('static', filename='images/help.png') }}" alt=""></a>
    <a class="help" href="{{ url_for('idea.create') }}">+</a>
    <span>☰</span>
  </div>


</header>
    {% block content %}{% endblock %}

    <footer>
      <br><br><br>
  <div class="content-contacts">
    <div>
      <h1>Мы всегда на связи!</h1>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
      </div>

      <p>Государственное бюджетное учреждение дополнительного образования <br>
      Дворец детского (юношеского) творчества <br>
      Красногвардейского района Санкт-Петербурга</p>
            <br><br>
      <span>na-lenskoy@obr.gov.spb.ru</span>
      <span class="phone"> <img src="{{ url_for('static', filename='images/footer-phone.png') }}" alt=""> &nbsp;  8 (812) 246-04-61</span>
      <div class="cont-img">
        <a href="">        
          <img src="{{ url_for('static', filename='images/vk.png') }}" alt="">
        </a>
        <a href="">
              <img src="{{ url_for('static', filename='images/telegram.png') }}" alt="">

        </a>
      </div>
    </div>

    <div class="get-help">
      <p>Чего-то не хватает? Не можете найти важную тему или ответ на свой вопрос? <br>
      Напишите нам</p>
      <form action="{{ url_for('main.send_message') }}" method="POST">
        <input type="text" name="name" placeholder="Имя" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <textarea name="message" placeholder="Текст сообщения" required></textarea>
        <button type="submit">Отправить</button>
      </form>
    </div>
  </div>
  <div class="last-info">
    <br>
    <span>© Государственное бюджетное учреждение дополнительного образования <br>
Дворец детского (юношеского) творчеств Красногвардейского района <br>
Санкт-Петербурга "На Ленской"</span>
<span>Поддержка <br>
Политика обработки персональных данных 
</span>

  </div>
</footer>

</body>
</html>