{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
{% endblock %}

{% block activePart1 %} {% endblock %}
{% block activePart2 %} {% endblock %}
{% block activePart3 %} active-part {% endblock %}

{% block content %}
<div class="nav">
  <a href="{{ url_for('main.index') }}">Главная > </a>
  <a href="#">Продвигаемся в освоении ресурсов. Пробные уроки </a>
</div>

<div class="main-box" style="text-align: center;">

  <h1>Продвигаемся в освоении ресурсов</h1>

  <div class="res-container">

          {% for resource in resources %}
  <div class="res-slide">
    <img src="{{ url_for('static', filename='uploads/resources/{}/{}'.format(resource.id, resource.photo)) }}" alt="Изображение ресурса">

    <h1>{{ resource.name }}</h1>
    <h2> {{ resource.dop }} </h2>
    <p> {{ resource.description }} </p>
    <a href="{{ url_for('resource.open_one', id=resource.id) }}">
      <button onclick="">Пройти пробный урок &nbsp;→</button>
    </a>

          {% if session.get('is_admin') %}
          <form method="POST" action="{{ url_for('resource.delete_resource', id=resource.id) }}" onsubmit="return confirm('Удалить ресурс?');">
            <button type="submit" class="btn btn-danger">Удалить</button>
          </form>
          {% endif %}
  
  </div>

  {% endfor %}
  </div>

  <br><br><br>
</div>
{% endblock %}